body {
    background-color: snow;
    color: #333;
}

.message-area {
    height: 550px;
    width: 60%;
    border: 1px solid black;
    border-radius: 9px;
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
}
.container-el {
    background-color: cornflowerblue;
    border-radius: 9px;
    color: black;
    padding: 5px;
    margin-top: 10px;
}
.from-el {
    font-style: italic;
    font-size: 1em;
    margin: 3px;
}
.message-el {
    margin: 3px;
}
.timestamp-el {
    font-style: italic;
    font-size: 1em;
    margin: 3px;
    text-align: right;
}
.input-area {
    display: inline;
}
.text-message {
    width: 30%;
}
